<section class="section-wrapp">
    <div class="fist-title">
        <h2>Our modules</h2>
        <p class="half-text">All OneWrapp modules are connected giving you a 360 degrees
            overview of your production projects</p>
        </div><span class="legal-text right-icon-legal">All icons by Valter Bispo from NounProject.com</span>
        <div class="section-module-items">
            <div class="module-item">
                <div class="flag-item blue-flag">Core Module</div>
                <div class="module-item-icon">
                    <div><i class="schedule-icon"></i></div>
                </div>
                <h4><span>One</span>Scheduling</h4>
                <p><strong>All the scenes information in one
                    place</strong></p>
                    <ul>
                        <li>Production timelines</li>
                        <li>Automatic scene breakdown</li>
                        <li>Create and follow parameters</li>
                        <li>Characters, sets, elements breakdown</li>
                        <li>Multiple tentative production plans</li>
                        <li>Create, execute and track shooting schedules</li>
                        <li>Distribute call sheets securely</li>
                        <li>Daily Production Reports</li>
                    </ul>
                </div>
                <div class="module-item">
                    <div class="flag-item blue-flag">Add-on</div>
                    <div class="module-item-icon">
                        <div><i class="continuity-icon"></i></div>
                    </div>
                    <h4><span>One</span>Continuity</h4>
                    <p><strong>Track all continuities anywhere,
                        anytime</strong></p>
                        <ul>
                            <li>Online continuity book</li>
                            <ul>
                                <li>Characters</li>
                                <li>Sets / Locations</li>
                                <li>Elements</li>
                            </ul>
                            <li>Scenes</li>
                            <li>Wardrobe Breakdown</li>
                            <li>Props Breakdown</li>
                            <li>Oﬄine availability</li>
                        </ul>
                    </div>
                    <div class="module-item">
                        <div class="flag-item blue-flag">Add-on</div>
                        <div class="module-item-icon">
                            <div><i class="forecast-icon"></i></div>
                        </div>
                        <h4><span>One</span>Forecast</h4>
                        <p><strong>Production Cost Control on real
                            time</strong></p>
                            <ul>
                                <li>MovieMagic budget upload</li>
                                <li>Add expenses and other commitments</li>
                                <li>Add invoices</li>
                                <li>Expense reconciliation</li>
                                <li>Forecast</li>
                                <li>Reports</li>
                            </ul>
                        </div>
                        <div class="module-item">
                            <div class="flag-item blue-flag">Add-on</div>
                            <div class="module-item-icon">
                                <div><i class="location-icon"></i></div>
                            </div>
                            <h4><span>One</span>LocationHub</h4>
                            <p><strong>Location scouting centralized</strong>
                            </p>
                            <ul>
                                <li>Create your location directory</li>
                                <li>Securely share</li>
                                <li>Create proposals</li>
                                <li>Connect with shootings and forecast</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="blue-section">
                    <div class="section-wrapp">
                        <div class="section-center">
                            <div><i class="rocket-icon"></i><span class="legal-text dark-legal">Launching by Valter Bispo from
                                NounProject.com</span></div>
                                <div>
                                    <h2>Take production data<br>to new levels</h2>
                                    <p>Customized and automated reports and dashboards to access real time data
                                        based on your needs.</p>
                                    </div>
                                </div>
                            </div>
                        </section>