<header>
    <div class="logo-header"><i class="onewrapp-white-logo"></i></div>
    <div @fade class="navigation-header">
        <nav>
            <ul>
                <li class="fade-group-animation">
                    <a fragment="modules" href="/#modules">MODULES</a>
                </li>
                <li class="fade-group-animation">
                    <a fragment="pricing" href="/#pricing">PRICING</a></li>
                <li class="fade-group-animation">
                    <a fragment="add-ons" href="/#add-ons">ADD-ONS</a></li>
                <li class="fade-group-animation">
                    <a>CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="login-header">
        <a target="_blank" href="https://api.onewrapp.com" class="button with-border">LOGIN</a>
    </div>

</header>
