<section class="section-wrapp">
    <h2>Find your plan</h2>
    <p class="half-text">We have a plan that suits every production company</p>
    <div class="section-plans-items">
        <div class="plan-item one-plan">
            <div class="header-plan"><span class="name-plan">
                    <h4><span>One</span>Plan</h4>
                </span><span class="price-plan"><sup>$</sup>450
                    <span>Every month</span></span><a class="button dark">Get started</a></div>
            <div class="content-plan">
                <ul>
                    <li>OneScheduling</li>
                    <li>Basic support</li>
                    <li>1 Project</li>
                    <li>5 users</li>
                    <li>20 GB file storage</li>
                </ul>
            </div>
        </div>
        <div class="plan-item basic-plan">
            <div class="header-plan"><span class="name-plan">
                    <h4><span>Basic</span>Plan</h4>
                </span><span class="price-plan"><sup>$</sup>1,800 <span>Every
                        month</span></span><a class="button dark">Get started</a></div>
            <div class="content-plan">
                <ul>
                    <li>OneScheduling</li>
                    <li>Basic support</li>
                    <li>5 Projects per year </li>
                    <li>5 Company users * </li>
                    <li>5 users per project </li>
                    <li>100 GB file storage</li>
                </ul>
            </div>
        </div>
        <div class="plan-item pro-plan">
            <div class="header-plan"><span class="name-plan">
                    <h4><span>Pro</span>Plan</h4>
                </span><span class="price-plan"><sup>$</sup>2,500 <span>Every
                        month</span></span><a class="button dark">Get started</a></div>
            <div class="content-plan">
                <ul>
                    <li>OneScheduling</li>
                    <li>Basic support</li>
                    <li>10 Projects per year</li>
                    <li>10 Company users *</li>
                    <li>7 users per project</li>
                    <li>200 GB file storage</li>
                </ul>
            </div>
        </div>
        <div class="plan-item enterprise-plan">
            <div class="header-plan"><span class="name-plan">
                    <h4><span>Enterprise</span>Plan</h4>
                </span><span class="notice-price-plan"> Build your own OneWrapp plan that
                    feeds your company needs and budget </span><a class="button dark">Contact us</a></div>
            <div class="content-plan">
                <ul>
                    <li>One Scheduling</li>
                    <li>VIP Support</li>
                    <li>Customized projects per year</li>
                    <li>Customized users per project</li>
                    <li>More that 400 GB storage</li>
                </ul>
            </div>
        </div>
    </div><span class="legal-text">* Company users will be users with access to all
        projects</span>
</section>