<section class="gray-section">
    <div class="section-wrapp split-two-section  main-section">
        <div>
            <h2 [@fade]="{value: '', params: {delay: 0}}" class="fade-animation"> All your production<br> data in one place </h2>
            <div [@fade]="{value: '', params: {delay: 300}}" class="fade-animation">
                <p> OneWrapp is a cloud based software that allows to have all the
                    information of your projects centralized, reducing duplicity, increasing time effectiveness and
                    visibility of the information. OneWrapp allows to access your projects data safely and in real time.
                </p><a class="button dark with-border wide">Request a demo trial</a>
            </div>
        </div>
        
        <div [@fade]="{value: '', params: {delay: 600}}" class="fade-animation ">
            <div class="align-right">
                <app-carousel [images]="images"/>
            </div>
            
        </div>
    </div>
</section>

<section [@fade]="{value: '', params: {delay: 900}}" class="cyan-section fade-animation">
    <div class="section-wrapp split-two-section sub-section">
        <div class="right-zero">
            <p> Production teams can overview and track a production from start to end; organize their resources in one
                place; automate processes; execute and monitor production workflows; manage crew, talent and assets;
                share and distribute information securely; and analyze production data in real time with customized
                dashboards and reports. </p>
        </div>
        <div class="separate-title">
            <h3> Monitor your production from<br> start to end. Make decisions<br> based on real data </h3>
        </div>
    </div>
</section>