<section class="section-wrapp">
    <h2>Add-ons</h2>
    <p class="half-text">Add more functionalities to save time and increase you team
        productivity.</p>
    <div class="section-addons-items">
        <div class="addon-item">
            <div class="addon-item-inner">
                <div class="addon-item-front">
                    <div class="header-addon"><span
                            class="flag-header">With Basic<strong>Plan</strong></span><span
                         class="name-addon">
                            <h4><span>One</span>Continuity</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>900 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>+50 GB file storage</li>
                        </ul>
                    </div>
                </div>
                <div class="addon-item-back">
                    <div class="header-addon"><span
                            class="flag-header proplan-flag">With Pro<strong
                            >Plan</strong></span><span
                            class="name-addon">
                            <h4><span>One</span>Continuity</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>1,200 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>+100 GB file storage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="addon-item">
            <div class="addon-item-inner">
                <div class="addon-item-front">
                    <div class="header-addon"><span
                            class="flag-header">With Basic<strong>Plan</strong></span><span
                         class="name-addon">
                            <h4><span>One</span>Forecast</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>900 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>+50 GB file storage</li>
                        </ul>
                    </div>
                </div>
                <div class="addon-item-back">
                    <div class="header-addon"><span
                            class="flag-header proplan-flag">With Pro<strong
                            >Plan</strong></span><span
                            class="name-addon">
                            <h4><span>One</span>Forecast</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>1,200 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>+100 GB file storage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="addon-item">
            <div class="addon-item-inner">
                <div class="addon-item-front">
                    <div class="header-addon"><span
                            class="flag-header">With Basic<strong>Plan</strong></span><span
                         class="name-addon">
                            <h4><span>One</span>LocationHub</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>600 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>+50 GB file storage</li>
                        </ul>
                    </div>
                </div>
                <div class="addon-item-back">
                    <div class="header-addon"><span
                            class="flag-header proplan-flag">With Pro<strong
                            >Plan</strong></span><span
                            class="name-addon">
                            <h4><span>One</span>LocationHub</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>900 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>+100 GB file storage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="addon-item">
            <div class="addon-item-inner">
                <div class="addon-item-front">
                    <div class="header-addon"><span
                            class="flag-header">With Basic<strong>Plan</strong></span><span
                         class="name-addon">
                            <h4><span>One</span>SupportVIP</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>1,000 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>Immediate support 24/7</li>
                            <li>Phone / email / chat contact</li>
                        </ul>
                    </div>
                </div>
                <div class="addon-item-back">
                    <div class="header-addon"><span
                            class="flag-header proplan-flag">With Pro<strong
                            >Plan</strong></span><span
                            class="name-addon">
                            <h4><span>One</span>SupportVIP</h4>
                        </span><span class="price-addon"><sup
                            >$</sup>2,000 <span>Every
                                month</span></span><a (click)="openContact($event)"  class="button">Add to your plan</a>
                    </div>
                    <div class="content-addon">
                        <ul>
                            <li>Immediate support 24/7</li>
                            <li>Phone / email / chat contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cyan-section">
    <div class="section-wrapp sub-section">
        <div class="welcome-content"><i
                class="onewrapp-icon"></i>
            <h3>Welcome to the new production generation</h3>
        </div>
    </div>
</section>