<nav>
    <ul>
        <li class="fade-group-animation">
            <a fragment="modules" (click)="goTo('modules')" >MODULES</a>
        </li>
        <li class="fade-group-animation">
            <a fragment="pricing" (click)="goTo('pricing')" >PRICING</a></li>
        <li class="fade-group-animation">
            <a fragment="add-ons" (click)="goTo('add-ons')" >ADD-ONS</a></li>
        <li class="fade-group-animation">
            <a (click)="contactService.stateConctactForm.set(true)">CONTACT</a>
        </li>
    </ul>
</nav>